$mainBlack: #3F3F3F;
$mainBlue: #49485E;
$mainWhite: #FFFEFB;
$mianDisableColor: #B4B4B4;
$mainWarningColor: #FF8484;


$mainShaddow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$mainFont: 'Source Sans Pro', sans-serif;
$bold: 600;
$mainCursorPointer: url('@/static/Cursor.svg'), default;
$mainBorderRadius: 4px;
$mainLetterSpacing: -0.02em;
$mainClickablePadding: 10px 16px 11px 16px;
